{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block nav_title %}Lisgrey House{% endblock %}
{% block body_content %}
    <div class="pt-5 container text-center">
        <div class="text-center" style="width: 80%; margin: 0 auto">
            <h2>Password reset sent</h2>
            <h5>You should receive an email to reset your password, if the address you entered exists.</h5>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>
            <a href="{% url 'home' %}">Return to home page</a>
    </div>
{% endblock%}