{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block nav_title %}Lisgrey House{% endblock %}
{% block body_content %}
    <div class="pt-5 container text-center">
        <h2>Reset Password</h2>
        <p>Forgot your password? Please enter the email address you used to register with us and we will send you a link to reset your password.</p>
        <form action="" method="POST" class="text-center">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Send Email">
        </form>
        <div class="text-center">
            <a href="{% url 'home' %}">Return to home page</a>
        </div>
    </div>
{% endblock%}
