{% extends 'base.html' %}

{% block head_title %} | Menu{% endblock %}

{% block body_content %}
    <div class="header-section">
        <div style="background-image: url('/static/images/dan-gold-4_jhDO54BYg-unsplash.jpg'); background-size: cover; height: 100%">
            <div class="overlay">
                <div class="centered">
                    <h1 class="white-text">Menu</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-2 d-flex justify-content-center">
        <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-starters-tab" data-toggle="pill" href="#pills-starters" role="tab" aria-controls="pills-starters" aria-selected="true">Starters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-mains-tab" data-toggle="pill" href="#pills-mains" role="tab" aria-controls="pills-mains" aria-selected="false">Main Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-kids-tab" data-toggle="pill" href="#pills-kids" role="tab" aria-controls="pills-kids" aria-selected="false">Kids Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-sides-tab" data-toggle="pill" href="#pills-sides" role="tab" aria-controls="pills-sides" aria-selected="false">Side Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-dessert-tab" data-toggle="pill" href="#pills-dessert" role="tab" aria-controls="pills-dessert" aria-selected="false">Desserts</a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" id="pills-drinks-tab" data-toggle="pill" href="#pills-drinks" role="tab" aria-controls="pills-drinks" aria-selected="false">Drinks</a>#}
            {#            </li>#}
        </ul>
    </div>
    <div class="container" style="padding-top: 0 !important;">
        <div class="row">
            <div class="pt-2 col-md">
                <div class="text-center">
                    <div class="input-group">
                        <label for="example-search-input"></label><label for="filter_input"></label><input onkeyup="filter_menu()" class="form-control py-2 border-right-0 border" type="search" value="search" id="filter_input">
                        <span class="input-group-append"><div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div></span>
                    </div>
                </div>
            </div>
            <div class="pt-2 col-md">
                <label style="width: 100%;">
                    <select onchange="submit()" class="selectpicker" multiple data-width="100%" multiple title="Select Allergens to remove..">
                        {% for x in allergens %}
                            <option>{{ x.1 }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-starters" role="tabpanel" aria-labelledby="pills-starters-tab">
                {% for starter in starters %}
                    {% if forloop.first %}<div class="pt-2 row">{% endif %}
                <div class="pt-2 col-xl">
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <div class="col-9">
                                    <p class="card_title">{{ starter.name }}</p>
                                </div>
                                <div class="col-3">
                                    <p class="card_price">&euro;{{ starter.price }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-text-container">
                                        <p class="text-muted">{{ starter.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-text-container">
                                        <p class="card_allergens">{{ starter.allergen }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}</div><div class="pt-2 row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
                {% endfor %}
            </div>

            <div class="tab-pane fade" id="pills-mains" role="tabpanel" aria-labelledby="pills-mains-tab">
                {% for main in mains %}
                    {% if forloop.first %}<div class="pt-2 row">{% endif %}
                <div class="pt-2 col-xl">
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <div class="col-9">
                                    <p class="card_title">{{ main.name }}</p>
                                </div>
                                <div class="col-3">
                                    <p class="card_price">&euro;{{ main.price }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-text-container">
                                        <p class="text-muted">{{ main.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-text-container">
                                        <p class="card_allergens">{{ main.allergen }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}</div><div class="pt-2 row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="pills-kids" role="tabpanel" aria-labelledby="pills-kids-tab">
                {% for kids_item in kids_items %}
                    {% if forloop.first %}<div class="pt-2 row">{% endif %}
                <div class="pt-2 col-xl">
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <div class="col-9">
                                    <p class="card_title">{{ kids_item.name }}</p>
                                </div>
                                <div class="col-3">
                                    <p class="card_price">&euro;{{ kids_item.price }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-text-container">
                                        <p class="text-muted">{{ kids_items.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-text-container">
                                        <p class="card_allergens">{{ kids_items.allergen }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}</div><div class="pt-2 row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="pills-sides" role="tabpanel" aria-labelledby="pills-sides-tab">
                {% for side_order in side_orders %}
                    {% if forloop.first %}<div class="pt-2 row">{% endif %}
                <div class="pt-2 col-xl">
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <div class="col-9">
                                    <p class="card_title">{{ side_order.name }}</p>
                                </div>
                                <div class="col-3">
                                    <p class="card_price">&euro;{{ side_order.price }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-text-container">
                                        <p class="text-muted">{{ side_order.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-text-container">
                                        <p class="card_allergens">{{ side_order.allergen }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %}</div><div class="pt-2 row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="pills-dessert" role="tabpanel" aria-labelledby="pills-dessert-tab">
                {% for dessert in desserts %}
                    {% if forloop.first %}<div class="pt-2 row">{% endif %}
                <div class="pt-2 col-xl">
                    <div class="card">
                        <div class="card-body d-flex flex-column">
                            <div class="row">
                                <div class="col-9">
                                    <p class="card_title">{{ dessert.name }}</p>
                                </div>
                                <div class="col-3">
                                    <p class="card_price">&euro;{{ dessert.price }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-text-container">
                                        <p class="text-muted">{{ dessert.description }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-text-container">
                                        <p class="card_allergens">{{ dessert.allergen }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                </div>
                {% if forloop.counter|divisibleby:2 %}</div><div class="pt-2 row">{% endif %}
                {% if forloop.last %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}