{% extends 'base.html' %}
{% load static %}
{% block nav_title %}Lisgrey House{% endblock %}

{% block body_content %}
    <div class="pt-5 row w-100 h-100">
        <div class="pt-5 col-5 w-100 h-100" style="border: 1px solid black;">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-starters-tab" data-toggle="pill" href="#v-pills-starters" role="tab" aria-controls="v-pills-starters" aria-selected="true">Starters</a>
                <a class="nav-link" id="v-pills-mains-tab" data-toggle="pill" href="#v-pills-mains" role="tab" aria-controls="v-pills-mains" aria-selected="false">Mains</a>
                <a class="nav-link" id="v-pills-kids-tab" data-toggle="pill" href="#v-pills-mains" role="tab" aria-controls="v-pills-kids" aria-selected="false">Kids</a>
                <a class="nav-link" id="v-pills-sides-tab" data-toggle="pill" href="#v-pills-sides" role="tab" aria-controls="v-pills-sides" aria-selected="false">Sides</a>
                <a class="nav-link" id="v-pills-dessert-tab" data-toggle="pill" href="#v-pills-dessert" role="tab" aria-controls="v-pills-dessert" aria-selected="false">Dessert</a>
                <a class="nav-link" id="v-pills-drinks-tab" data-toggle="pill" href="#v-pills-drinks" role="tab" aria-controls="v-pills-drinks" aria-selected="false">Drinks</a>
            </div>
            <a href="{% url 'basket' %}">Basket: {{ request.session.item_quantities }} items</a>
        </div>
        <div class="pt-5 col-7">
            <div class="text-center">
                <label for="filter_input">Search</label>
{#                <input type="text" id="filter_input" onkeyup="filter_menu()">#}
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-starters" role="tabpanel" aria-labelledby="v-pills-starters-tab">
                    {% for starter in starters %}
                        <div class="col d-flex justify-content-center mt-4">
                            <div class="card" style="width:35rem;">
                                <div class="card-body">
                                    <div class="card-heading-container">
                                        <span class="card_title">{{ starter.name }}</span>
                                        <span class="card_price">&euro;{{ starter.price }}</span>
                                    </div>
                                    <div class="card-text-container">
                                        <p>{{ starter.description }}</p>
                                        <p class="card_allergens">{% for a in starter.allergen.all %}{{ a.name }} {% endfor %}</p>
                                    </div>
                                    <form method="get" action="{% url 'update_basket' starter.id %}">
                                        <label for="quantity">Quantity</label>
                                        <button  id="increment" name="increment" type="button" onclick="decreaseQuantity(this)">-</button>
                                        <input class="quantity" id="quantity" name="quantity" type="number" value="1">
                                        <button  id="increment" name="increment" type="button" onclick="increaseQuantity(this)">+</button>
                                        <input type="submit" value="Add to Cart">
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="v-pills-mains" role="tabpanel" aria-labelledby="v-pills-mains-tab">
                    {% for main in mains %}
                        <div class="col d-flex justify-content-center mt-4">
                            <div class="card" style="width:35rem;">
                                <div class="card-body">
                                    <div class="card-heading-container">
                                        <span class="card_title">{{ main.name }}</span>
                                        <span class="card_price">&euro;{{ main.price }}</span>
                                    </div>
                                    <div class="card-text-container">
                                        <p>{{ main.description }}</p>
                                        <p class="card_allergens">{% for a in main.allergen.all %}{{ a.name }} {% endfor %}</p>
                                    </div>
                                    <form method="get" action="{% url 'update_basket' main.id %}">
                                        <label for="quantity">Quantity</label>
                                        <button  id="increment" name="increment" type="button" onclick="decreaseQuantity(this)">-</button>
                                        <input class="quantity" id="quantity" name="quantity" type="number" value="1">
                                        <button  id="increment" name="increment" type="button" onclick="increaseQuantity(this)">+</button>
                                        <input type="submit" value="Add to Cart">
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="v-pills-kids" role="tabpanel" aria-labelledby="v-pills-kids-tab">
                    {% for kids_item in kids_items %}
                        <div class="col d-flex justify-content-center mt-4">
                            <div class="card" style="width:35rem;">
                                <div class="card-body">
                                    <div class="card-heading-container">
                                        <span class="card_title">{{ kids_item.name }}</span>
                                        <span class="card_price">&euro;{{ kids_item.price }}</span>
                                    </div>
                                    <div class="card-text-container">
                                        <p>{{ kids_item.description }}</p>
                                        <p class="card_allergens">{% for a in kids_item.allergen.all %}{{ a.name }} {% endfor %}</p>
                                    </div>
                                    <form method="get" action="{% url 'update_basket' kids_item.id %}">
                                        <label for="quantity">Quantity</label>
                                        <button  id="increment" name="increment" type="button" onclick="decreaseQuantity(this)">-</button>
                                        <input class="quantity" id="quantity" name="quantity" type="number" value="1">
                                        <button  id="increment" name="increment" type="button" onclick="increaseQuantity(this)">+</button>
                                        <input type="submit" value="Add to Cart">
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="v-pills-sides" role="tabpanel" aria-labelledby="v-pills-sides-tab">
                    {% for side_order in side_orders %}
                        <div class="col d-flex justify-content-center mt-4">
                            <div class="card" style="width:35rem;">
                                <div class="card-body">
                                    <div class="card-heading-container">
                                        <span class="card_title">{{ side_order.name }}</span>
                                        <span class="card_price">&euro;{{ side_order.price }}</span>
                                    </div>
                                    <div class="card-text-container">
                                        <p>{{ side_order.description }}</p>
                                        <p class="card_allergens">{% for a in side_order.allergen.all %}{{ a.name }} {% endfor %}</p>
                                    </div>
                                    <form method="get" action="{% url 'update_basket' side_order.id %}">
                                        <label for="quantity">Quantity</label>
                                        <button  id="increment" name="increment" type="button" onclick="decreaseQuantity(this)">-</button>
                                        <input class="quantity" id="quantity" name="quantity" type="number" value="1">
                                        <button  id="increment" name="increment" type="button" onclick="increaseQuantity(this)">+</button>
                                        <input type="submit" value="Add to Cart">
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="v-pills-dessert" role="tabpanel" aria-labelledby="v-pills-dessert-tab">  {% for dessert in desserts %}
                    <div class="col d-flex justify-content-center mt-4">
                        <div class="card" style="width:35rem;">
                            <div class="card-body">
                                <div class="card-heading-container">
                                    <span class="card_title">{{ dessert.name }}</span>
                                    <span class="card_price">&euro;{{ dessert.price }}</span>
                                </div>
                                <div class="card-text-container">
                                    <p>{{ dessert.description }}</p>
                                    <p class="card_allergens">{% for a in dessert.allergen.all %}{{ a.name }} {% endfor %}</p>
                                </div>
                                <form method="get" action="{% url 'update_basket' dessert.id %}">
                                    <label for="quantity">Quantity</label>
                                    <button  id="increment" name="increment" type="button" onclick="decreaseQuantity(this)">-</button>
                                    <input class="quantity" id="quantity" name="quantity" type="number" value="1">
                                    <button  id="increment" name="increment" type="button" onclick="increaseQuantity(this)">+</button>
                                    <input type="submit" value="Add to Cart">
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="tab-pane fade" id="v-pills-drinks" role="tabpanel" aria-labelledby="v-pills-drinks-tab"> {% for drink in drinks %}
                    <div class="col d-flex justify-content-center mt-4">
                        <div class="card" style="width:35rem;">
                            <div class="card-body">
                                <div class="card-heading-container">
                                    <span class="card_title">{{ drink.name }}</span>
                                    <span class="card_price">&euro;{{ drink.price }}</span>
                                </div>
                                <div class="card-text-container">
                                    <p>{{ drink.description }}</p>
                                    <p class="card_allergens">{% for a in drink.allergen.all %}{{ a.name }} {% endfor %}</p>
                                </div>
                                <form method="get" action="{% url 'update_basket' drink.id %}">
                                    <label for="quantity">Quantity</label>
                                    <button  id="increment" name="increment" type="button" onclick="decreaseQuantity(this)">-</button>
                                    <input class="quantity" id="quantity" name="quantity" type="number" value="1">
                                    <button  id="increment" name="increment" type="button" onclick="increaseQuantity(this)">+</button>
                                    <input type="submit" value="Add to Cart">
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
