/*General*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.section{
    height: 100%;
    width: 100%;
}

.custom-container{
    padding: 3rem;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}

.custom-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.centered{
    text-align: center;
    vertical-align: middle;
    line-height: 30%;
}

h1{
    font-size: 1.5rem;
}

h2{
    padding-top: 2rem;
    text-align: center;
}

/* Home Page */
.home::after{
    content: "";
    background-size: cover;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
            );
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.home-page-button{
    text-align: center;
    background: none;
    color: #8C8342;
    border: 2px solid #8C8342;
    border-radius:0.12em;
    padding: 5px 10px 5px 25px;
    display: block;
}
.overlay{
    height: 100%;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.6),
                    rgba(0, 0, 0, 0.6)
            );
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-text{
    color: white;
}


.logo{
    font-size: 2rem;
}

/* Menu + Cards */
.pills-custom .nav-link{
    color: #8C8342;
}

.pills-custom .nav-item .active{
    text-decoration: underline;
    text-decoration-color: #39606F;
}

.card_title{
    font-size: 1rem;
}

.card_price{
    font-size: 1rem;
}

.card-text-container{
    display: block;
    font-size: 0.75rem;
}

.center-container{
    align-items: center;
}

.card_price{
    float: right;
}

.card{
    border: 1px solid #6e6e6e;
}

.quantity-button{
    text-align: center;
    background: none;
    color: #39606F;
    border: 2px solid #39606F;
    border-radius:0.12rem;
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.add-to-cart-button{
    margin-top: 1rem;
    width: 20rem;
    border: none;
    border-radius: 0.12rem;
    text-align: center;
    padding: 0.2rem 0.6rem;
    background-color: #39606F;
    color: #8C8342;
}

.category-heading{
    padding-bottom: 5px;
    display: inline-block;
    position: relative;
}

.header-section {
    padding-top: 30px;
    height: 30%
}

/*Navbar*/
.navbar .navbar-nav .nav-link{
    color: #8c8342;
}

.navbar-custom{
    background-color: #39606F;
}

.navbar-custom .navbar-brand{
    color: #8C8342;
}

.navbar-nav > li{
    padding-right: 20px;
    padding-left: 20px;
}



/* Image Carousel Styling */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
}

.carousel-inner {
    border-radius: 15px;
}

.carousel{
    height: 50%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* Takeaway CSS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity{
    width: 40px;
    text-align: center;
}

.takeaway-orders-container{
    padding: 30px;
    border: 1px solid black;
}

.button-container{
    width: 40%;
}

/*Staff Reservation */
.reservation-uc{
    text-transform: uppercase;
}

.filter-hidden{
    display: none;
}