{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav_title %}Lisgrey House{% endblock %}

{% block body_content %}
    <div class="pt-5 container">
        <h2>Basket</h2>
        <table class="table">
            <tr>
                <td>Item</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Action</td>
            </tr>
            {% for i in basket.basketitem_set.all %}
                <tr>
                    <td>{{ i.menu_item.name }}</td>
                    <td>{{ i.quantity }}</td>
                    <td>{{ i.menu_item.price }}</td>
                    <td><a href="{% url 'update_basket' i.menu_item.id  %}?quantity=0"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            {% endfor %}
        </table>
        <h2>Total Price: {{ basket.total }}</h2>
        <a href="{% url 'user_confirm' %}" class="btn btn-primary btn-lg btn-block" type="submit">Confirm</a>
    </div>
{% endblock %}
