{% extends 'base.html' %}

{% block head_title %} | Basket{% endblock %}

{% block body_content %}
    <div class="pt-5 container">
        <h2>Basket</h2>
        <table class="table">
            <tr>
                <td>Item</td>
                <td>Price</td>
                <td>Action</td>
            </tr>
            {% for i in basket.basketitem_set.all %}
                <tr>
                    <td>{{ i.quantity }} x {{ i.menu_item.name }}</td>
                    <td>{{ i.menu_item.price }}</td>
                    <td><a href="#" data-id="{{ i.menu_item.id }}" class="remove-from-cart"><i class="fa fa-trash" aria-hidden="true"></i></a></td>

                </tr>
            {% endfor %}
        </table>
        <h2>Total Price: {{ basket.total }}</h2>
        {% if user.is_authenticated %}
            <input type="button" value="Confirm" class="btn btn-primary btn-lg btn-block" onclick="location.href='{% url 'user_confirm' %}';"/>
        {% else %}
            <input type="button" value="Confirm" class="btn btn-primary btn-lg btn-block" onclick="location.href='{% url "nu_user_confirm" %}';"/>
        {% endif %}
        <br>
        <p><a href="{% url 'takeaway' %}">Back to Menu </a></p>
    </div>
    <script>
        $(document).ready(function() {

            $('.remove-from-cart').on('click', function () {
                let item_id = $(this).attr('data-id')
                console.log(item_id)

                let data = {
                    'item_id': item_id,
                    'item_quantity': '0'
                }

                $.ajax({
                    type: 'GET',
                    url: '{% url "update_basket" %}',
                    data: data,
                    success: function(res){
                        console.log('success')
                        location.reload();
                    }
                })
            });
        });
    </script>
{% endblock %}
