{% extends 'staff_templates/staff_base.html' %}

{% load static %}

{% block nav_title %}Lisgrey House{% endblock %}

{% block body_content %}
    <div class="pt-5 container">
        <div class="pt-5 row text-center">
            <div class="col">
                <label for="filter_option">Filter option
                    <select id="filter_option" onchange="filterSelect()">
                        <option>---</option>
                        <option value="1">Filter By Date</option>
                        <option value="2">Filter By Time</option>
                        <option value="3">Filter By Date & Time</option>
                    </select>
                    <button onclick="reset()">Reset</button>
                </label>
            </div>
            <div id="filter_by_date" class="col show filter-hidden">
                <label for="date"> Filter by date
                    <select id="date" onchange="filterByDate()">
                        <option>---</option>
                        {% for date in dates %}
                            <option>{{ date.date }}</option>
                        {% endfor %}
                    </select>
                    <button onclick="reset()">Reset</button>
                </label>
            </div>
            <div id="filter_by_time" class="col show filter-hidden">
                <label for="time"> Filter by Time
                    <select id="time" onchange="filterByTime()">
                        <option>---</option>
                        {% for time in times %}
                            <option>{{ time.time }}</option>
                        {% endfor %}
                    </select>
                    <button onclick="reset()">Reset</button>
                </label>
            </div>
            <div id="filter_by_date_time" class="col filter-hidden">
                <label for="date" onchange="filterByDateTime()"> Filter by date
                    <select id="dt_date">
                        <option>---</option>
                        {% for date in dates %}
                            <option>{{ date.date }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label for="time" onchange="filterByDateTime()"> Filter by Time
                    <select id="dt_time">
                        <option>---</option>
                        {% for time in times %}
                            <option>{{ time.time }}</option>
                        {% endfor %}
                    </select>
                </label>
                <button onclick="reset()">Reset</button>
            </div>
        </div>
        <table id="reservation_table" class="pt-5 table">
            <tr>
                <th>Reservation ID</th>
                <th>Status</th>
                <th>Name</th>
                <th>Time Stamp</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
            {% for reservation in data %}
                <tr>
                    <td class="reservation-uc"><a href="{% url 'staff_detail_reservation' reservation.id %}">{{ reservation.id }}</a></td>
                    <td>{{ reservation.status}}</td>
                    <td>{{ reservation.first_name }} {{ reservation.last_name }}</td>
                    <td>{{ reservation.time_stamp }}</td>
                    <td class="res_date">{{ reservation.date}}</td>
                    <td>{{ reservation.time}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}