{% extends 'staff templates/staff_base.html' %}

{% load static %}

{% block body_content %}

    <div class="pt-5 container">
        {% for takeaways in takeaway_orders %}
            {% if takeaways.status == 'Started' %}
                <div class="takeaway-orders-container">
                    <h3>Order ID: {{ takeaways.order_id }}</h3>
                    <h5>Order Time: {{ takeaways.date_time }}</h5>
                    <table id="{{ takeaways.order_id }}" class="table">
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        {% for basket_item in basket_items %}

                            {% if basket_item.basket == takeaways.basket %}
                                <tr>
                                    <td>{{ basket_item.menu_item }}</td>
                                    <td>{{ basket_item.quantity }}</td>
                                    <td>{{ basket_item.menu_item.price }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>

                    <form class="status_form" method="POST">
                        {% csrf_token %}
                        {{ form.status }}
                        <label>
                            <input style="visibility: hidden;" name="order_id" value="{{ takeaways.order_id }}">
                        </label>
                        <input class="btn btn-primary" type="submit" value="Confirm">
                    </form>
                    <h4>Total: {{ takeaways.basket.total }}</h4>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <script>
        function autoReload() {
            setTimeout(function() {
                $.ajax({
                    url: "{% url 'takeaway_orders' %}",
                    success: function(data) {
                        document.getElementById("takeaway-orders").innerHTML = data;
                    }
                });

                autoReload();  // calling again after 5 seconds
            }, 10000);
        }
        autoReload(); // calling the function for the first time
    </script>
{% endblock %}