{% extends 'base.html' %}
{% load static %}

{% block extra_header %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
{% endblock %}

{% block head_title %} | About{% endblock %}

{% block body_content %}
    <div class="section">
        <div class="custom-container text-center">
            <h2 class="text-center">About Us</h2>
            <div class="text-center my-auto">
                <p>Lisgrey House is a family run restaurant and bar. Enjoy a relaxing and satisfying meal with friends and family or that special someone.</p>
                <p>A favourite among locals, we provide a wide selection of food for all occasions. We pride ourselves on our house steaks especially the customer favourite, the famous ‘Steak on the stone’.</p>
                <p>We hold small functions such as communions, confirmations, birthday parties and anniversaries. All very welcome.</p>
                <br>
                <br>
                <p><strong>Address: </strong>Lisgrey Cross, Lisgrea, Virginia, Co. Cavan</p>
            </div>
            <div id="googleMap"></div>
        </div>
        <div class="p-5 text-center">
            <span><a href="{% url 'privacy' %}">Privacy Policy</a> | </span>
            <span><a href="{% url 'cookies' %}">Cookie Policy</a></span>
        </div>
    </div>

{% endblock %}
{% block extra_footer %}
    <script>
        function myMap() {
            const latLon = new google.maps.LatLng(53.86586073379221, -7.11585545582222)

            var mapProp = {
                center: latLon,
                zoom: 12,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({
                position: latLon,
                title: 'Lisgrey House'
            });

            marker.setMap(map);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGSW7Iasv2ukCJievJx6-Z5ncbF2cJAqM&callback=myMap"></script>


{% endblock %}