<html lang="en">
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% load pwa %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<head>
    {% progressive_web_app_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="utf-8">
    <title>Lisgrey House{% block head_title %}{% endblock %} </title>

    <!-- JavaScript -->
    <script type="text/javascript" src="{% static 'js/menu_filter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/date_time_picker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/number_spinner.js' %}"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Time Picker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.css" integrity="sha512-4S7w9W6/qX2AhdMAAJ+jYF/XifUfFtrnFSMKHzFWbkE2Sgvbn5EhGIR9w4tvk0vfS1hKppFIbWt/vdVIFrIAKw==" crossorigin="anonymous" />

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div id="body_div width: 100%">
    <nav class="navbar fixed-top navbar-expand-lg navbar-custom navbar-dark ">
        <a class="navbar-brand" href="{% url 'home' %}"><strong>{% block nav_title %}{% endblock %}</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu' %}">Menus</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reservation' %}">Reservations</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nu_reservation' %}">Reservations</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'takeaway' %}">Takeaway</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if not user.is_authenticated %}
                            <a class="dropdown-item" href={% url 'login' %}>Login</a>
                            <a class="dropdown-item" href={% url 'register' %}>Register</a>
                        {% else %}
                            <a class="dropdown-item" href={% url 'profile' %}>Profile</a>
                            <a class="dropdown-item" href={% url 'logout' %}>Logout</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        {% block body_content %}

        {% endblock %}
        {#        <footer class="text-center">#}
        {#            <p>Created By Matthew Magee 2021</p>#}
        {#        </footer>#}
    </div>
</div>
{% block extra_footer %}{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.js" integrity="sha512-l+atXluZCIvQMq9c/hjYEuLp6Hf9JDPtrxuaECeQ5MH7fJsRQ6xi+M34ulWWmEehlTiVQUqrNIuHD0AbGD/wvg==" crossorigin="anonymous"></script>
</body>

</html>