{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lisgrey House{% block head_title %}{% endblock %} </title>
</head>
<body>
<div id="body_div
       width: 100%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}"><strong>{% block nav_title %}{% endblock %}</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'menu' %}">Menus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reservation' %}">Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'takeaway' %}">Takeaway</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div>
        {% block body_content %}{% endblock %}
    </div>
</div>
{% block extra_footer %}{% endblock %}
</body>
</html>
