{#<!DOCTYPE html>#}
<html lang="en">
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% load pwa %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<head>
    {% progressive_web_app_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="utf-8">
    <title>Lisgrey House{% block head_title %}{% endblock %} </title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/icons/favicon.ico' %}"/>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" />    <!-- Google font -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div id="body_div width: 100%">
    <nav class="navbar fixed-top navbar-expand-lg navbar-custom navbar-dark">
        <strong><a class="navbar-brand" href="{% url 'home' %}">Lisgrey House</a></strong>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'takeaway' %}">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nu_reservation' %}">Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About/Location</a>
                </li>
            </ul>
        </div>
    </nav>
    <div style="display: block">
        {% block body_content %}
        {% endblock %}

    </div>
</div>
{% block extra_footer %}

    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/menu_filter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/date_time_picker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/number_spinner.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script>
        setTimeout(function (){
            const msg = $('#msg')
            if (msg.length > 0){
                msg.remove()
            }
        }, 5000)
    </script>

    <!-- jQuery -->
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous">
    </script>

    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous">
    </script>


    <!-- Time Picker -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <!-- Recaptcha -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- Cookie Policy Banner -->
    <link rel="stylesheet" type="text/css" href="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.css"/><script src="https://cdn.wpcc.io/lib/1.0.2/cookieconsent.min.js" defer></script><script>window.addEventListener("load", function(){window.wpcc.init({"corners":"large","colors":{"popup":{"background":"#fff0ca","text":"#000000","border":"#e0bc57"},"button":{"background":"#e0bc57","text":"#ffffff"}},"position":"top-right","border":"thick","margin":"large","transparency":"5","content":{"href":"/cookies","link":"Learn More","button":"Got It!"}})});</script>
{% endblock %}
</body>


</html>

