{% extends 'base.html' %}
{% load static %}

{% block nav_title %}Lisgrey House{% endblock %}

{% block body_content %}
    <h1>Basket</h1>
    <table>
        <tr>
            <td>Item</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Action</td>
        </tr>
        {% for i in basket.basketitem_set.all %}
            <tr>
                <td>{{ i.menu_item.name }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.menu_item.price }}</td>
                <td><a href="{% url 'update_basket' i.menu_item.id  %}?quantity=0">Remove item</a></td>
            </tr>
        {% endfor %}
    </table>

    <h1>{{ basket.total }}</h1>
    <h1><a href="{% url 'confirm_order' %}">Confirm Order</a></h1>
{% endblock %}
