{% extends 'base.html' %}

{% block body_content %}
    <div class="section" style="background-image: url('/static/images/fabrizio-magoni-boaDpmC-_Xo-unsplash.jpg'); background-size: cover">
        <div class="overlay">
            <div class="overlay-text custom-center text-center">
                <div class="pt-5 white-text">
                    <p class="logo">Lisgrey House</p>
                    <p>Opening Hours: Monday - Sunday, 12pm - 10pm</p>
                    <br>
                    <p><a href="{% url 'reservation' %}" class="home-page-button">Reservations</a></p>
                    <p><a href="{% url 'menu' %}" class="home-page-button">Menu</a></p>
                    <br>
                    <p class="text-center">Home cooked Food in a friendly family run establishment</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}