{% extends 'base.html' %}
{% load static %}

{% block nav_title %}Lisgrey House{% endblock %}

{% block body_content %}
    {% if user.is_authenticated %}
        <div class="home container-fluid">
            <div class="row justify-content-center">
                <div class="d-flex align-items-center min-vh-100">
                    <div class="text-center">
                        <a href="{% url 'reservation' %}" class="btn btn-primary btn-lg btn-block home-button">Make a Reservation</a>
                        <a href="{% url 'menu' %}" class="btn btn-primary btn-lg btn-block home-button">View Menu</a>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="d-flex align-items-center min-vh-100">
                    <div class="text-center">
                        <a href="{% url 'reservation' %}" class="btn btn-primary btn-lg btn-block home-button">Make a Reservation</a>
                        <a href="{% url 'menu' %}" class="btn btn-primary btn-lg btn-block home-button">View Menu</a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}