{% extends 'base.html' %}
{% load static %}

{% block nav_title %}Lisgrey House{% endblock %}

{% block body_content %}
    <br><br>
    <div class="text-center vertical-center">
        <label for="search">Search</label>
        <input id="search">

        <label for="filter">Filter (to remove)</label>
        <select id="filter">
            {% for allergen in allergens %}
                <option>{{ allergen.name }}</option>
            {% endfor %}
        </select>

        <a href="{% url 'basket' %}">Basket: {{ request.session.item_quantities }} items</a>
        <div class="col-sm-12 my-auto">
            <h3>Starters</h3>

            {% for starter in starters %}
                <div id="{{ starter.id }}">
                <span class="food-item-name">{{ starter.name }}</span>
                <div class="food-item-details">
                    <p>{{ starter.description }}</p>
                    <p class="food-item-price">{{ starter.price }}</p>
                    <p>{% for a in starter.allergen.all %}{{ a.name }} | {% endfor %}</p>
                </div>
            {% endfor %}
            </div>
            <div>
                <h3>Mains</h3>
                {% for m in mains %}
                    <div id="{{ m.id }}">
                    <span class="food-item-name">{{ m.name }}</span>
                    <div class="food-item-details">
                        <p>{{ m.description }}</p>
                        <p class="food-item-price">{{ m.price }}</p>
                        <p>{% for a in m.allergen.all %}{{ a.name }} | {% endfor %}</p>
                        <form method="get" action="{% url 'update_basket' m.id %}">
                            <label for="quantity">Quantity</label><input id="quantity" name="quantity" type="number">
                            <input type="submit" value="Add to Cart">
                        </form>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
