{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block head_title %} | Reservation{% endblock %}

{% block body_content %}
    <div class="container pt-5">
        {% include 'messages.html' %}
        <h2 class="text-center">Make a Reservation</h2>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form | crispy}}
            <div class="text-center">
                <div class=" g-recaptcha" data-sitekey="6Lf-SY4aAAAAAI7V1y7mhAV2PKNVLHcf4D9F8rSO"></div>
            </div>
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Confirm">
        </form>
    </div>
{% endblock %}
