{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block nav_title %}Lisgrey House{% endblock %}
{% block body_content %}
    <div class="pt-5 container">
        <div class="custom-center text-center">
            <h3>We have received your reservation</h3>
            <h4>A member of staff will confirm the reservation</h4>
            <p>You should receive an email once your reservation is confirmed</p>
            <input type="button" value="Home" class="btn btn-primary btn-lg btn-block" onclick="location.href='{% url 'home' %}';"/>
        </div>
    </div>
{% endblock %}